<ion-view view-title="About us">
  <ion-content> 
   <div class="card">
    
   <center><div class="header padding text-center">
                        <img src="img/logo.png"  width="150" height="150" alt="Your logo here"/>
                    </div><br></center>  
				<br>

  <br>
  <br>
  <div class="well" >		

		<h5><font face="comic sans ms"><p> &nbsp; &nbsp; &nbsp;In a world where accidents happen all the time. How would people react. Naturally they would call the police or ambulance. But what if it happened where there are no other people and you are in a situation where you aren't able to call them yourself. We created a system that can send your GPS location via SMS. With this wherever, whenever there is an accident with out device it will send help on the way.


</div>
</div>

  
  </ion-content>
</ion-view>